{{! Optimium - BLOG MENU PARTIAL }}

<nav id="menu_Optimium">
	<ul>
		<li><a href="http://knyz.org">Home</a></li>
		<li><a href="http://github.com/viruzx">Github</a></li>
		<li><a href="http://twitter.com/viruzx5">Twitter</a></li>
	</ul>
</nav>